<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <KanbanizeTool.Properties.Settings>
            <setting name="TfsServerUri" serializeAs="String">
                <value>http://172.31.8.108:8080/tfs</value>
            </setting>
            <setting name="TfsProjectName" serializeAs="String">
                <value>Tfsprojectname</value>
            </setting>
            <setting name="KanbanizeApiKey" serializeAs="String">
                <value>zjqWwMvHCzcXtgFyOtgYlLdrviHWnJP4i0VuNZ2B0</value>
            </setting>
            <setting name="TfsUserName" serializeAs="String">
                <value>Bob Marley</value>
            </setting>
            <setting name="TfsDomainName" serializeAs="String">
                <value>Tfsdomainname</value>
            </setting>
            <setting name="TfsPassword" serializeAs="String">
                <value>P@ssword</value>
            </setting>
            <setting name="KanbanizeBoardId" serializeAs="String">
                <value>2</value>
            </setting>
        </KanbanizeTool.Properties.Settings>
    </userSettings>
</configuration>