<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KanbanizeTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KanbanizeTool.Properties.Settings>
            <setting name="KanbanizeUri" serializeAs="String">
                <value>http://kanbanize.com/index.php/api/kanbanize</value>
            </setting>
            <setting name="ColorTask" serializeAs="String">
                <value>153, 173, 153</value>
            </setting>
            <setting name="ColorBUG" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorImprovement" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TfsServerUri" serializeAs="String">
                <value />
            </setting>
            <setting name="TfsTaskLinkTemplate" serializeAs="String">
                <value>{0}/web/wi.aspx?id={1}</value>
            </setting>
            <setting name="TfsProjectName" serializeAs="String">
                <value />
            </setting>
            <setting name="KanbanizeApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="KanbanizeBoardId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TfsToKanbanizeAssigneeMapping" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Yevgen Ponomarenko</string>
                        <string>Yevgen P</string>
                        <string>Ievgenii Alieinikov</string>
                        <string>Ievgenii A</string>
                        <string>Ievgenii Tveritinov</string>
                        <string>Eugene T</string>
                        <string>Oleksandr Kuzmenko</string>
                        <string>Alex K</string>
                        <string>Igor Budzhak</string>
                        <string>Igor B</string>
                        <string>Alexey Rak</string>
                        <string>Alexey R</string>
                        <string>Andriy Rebrin</string>
                        <string>Andrew R</string>
                        <string>Dmytro Sokhach</string>
                        <string>Dmytro S</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TfsUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="TfsDomainName" serializeAs="String">
                <value />
            </setting>
            <setting name="TfsPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsKey" serializeAs="String">
                <value>KanbanizeTfsTool</value>
            </setting>
        </KanbanizeTool.Properties.Settings>
    </userSettings>
</configuration>